.breadcrumb {
    width: 50%;
    display: -webkit-inline-box;
}

.create-button {
    float: right;
}

.round-add-button {
    padding: 10px 16px;
    margin-left: 48%;
    margin-right: 30%;
}

.question-box {
    max-width: 97%;
}

.question-rows {
    display: inline-block;
    width: 100%;
}

.question-box {
    display: inline-block;
    width: 85%;
}

.content-body .container-fluid .question-container {
    margin: 0;
    padding: 0;
}

.question-non-text-input {
    display: inline-block;
    width: 80%;
    border: 0;
}

.question-checkbox-answer {
    margin-top: 20px;
}

.answer label{
    width: 100%;
    margin: 0;
}